.info-dialog-container {
  display: flex;
  width: 890px;
  height: 405px;
  @include media("<=965px") {
    width: unset;
    height: unset;
  }
}

.info-dialog-content-container {
  width: 350px;
  padding: 24px;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media("<=965px") {
    width: unset;
    height: unset;
  }
}

.info-dialog-image-container {
  width: 550px;
  height: 100%;
}

.info-dialog-progressbar {
  float: right;
  width: 160px;
  padding: 15px 0;
  @include media("<=435px") {
    width: 80px;
  }
}

.info-dialog-fab {
  position: absolute;
  right: -28px;
  top: calc(50% - 28px);
}

.info-dialog-image {
  object-fit: cover;
  height: 100%;
}
